opencv_python-4.10.0.84-cp312-cp312-linux_riscv64.whl filter=lfs diff=lfs merge=lfs -text
torch-2.4.0a0+gitd990dad-cp312-cp312-linux_riscv64.whl filter=lfs diff=lfs merge=lfs -text
*.whl filter=lfs diff=lfs merge=lfs -text
